
a:link {
    color: #F7F7F7;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #F7F7F7;
}
a:active {
    text-decoration: none;
    color: #F7F7F7;
}
a:hover {
    text-decoration: none;
    color: #F7F7F7;
}
form:link {
    text-decoration: none;
    color: #F7F7F7;
}
form:visited {
    text-decoration: none;
    color: #F7F7F7;
}
form:active {
    text-decoration: none;
    color: #F7F7F7;
}
form:hover {
    text-decoration: none;
    color: #F7F7F7;
}
.form-color-dark {
    text-decoration: none;
    color: #333333;
}
.form-color-dark:hover {
    text-decoration: none;
    color: #333333;
}
.form-color-dark:active {
    text-decoration: none;
    color: #333333;
}
.form-color-dark:link {
    text-decoration: none;
    color: #333333;
}
.form-color-dark:visited {
    text-decoration: none;
    color: #333333;
}
.button{
    background: #CD6326;
}
button:hover {
    background: #E39128;
}
button:active {
    background: #8F5613;
}
body {
    position: relative;
    width: auto;
    height: 2508px;
    background: #252224;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.body-size1 {
    position: relative;
    width: auto;
    height: 1138px;
}
.body-size2 {
    position: relative;
    width: auto;
    height: 2658px;
}
.body-size3 {
    position: relative;
    width: auto;
    height: 1288px;
}
header {
    position: absolute;
    width: 100%;
    height: 130px;
    left: 0px;
    top: 0px;
}
.header-background {
    position: absolute;
    width: 100%;
    height: 130px;
    left: 0px;
    top: 0px;
    background: #181617;
    filter: drop-shadow(-150px 0px 150px #181617);
    border-radius: 0px;
}

.header-title {
    position: absolute;
    width: 350px;
    height: 60px;
    left: 185px;
    top: 19px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
}
.header-ref0 {
    position: absolute;
    width: 50px;
    height: 60px;
    left: 710px;
    top: 19px;
    display: inline;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}
.header-ref0:hover {
    transform: scale(1.1);
}
.header-ref1 {
    position: absolute;
    width: 50px;
    height: 60px;
    left: 870px;
    top: 19px;
    display: inline;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}
.header-ref1:hover {
    transform: scale(1.1);
}
.header-ref2 {
    position: absolute;
    width: 96px;
    height: 60px;
    left: 1030px;
    top: 19px;
    display: inline;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}
.header-ref2:hover {
    transform: scale(1.1);
}
.header-sign-in {
    position: absolute;
    width: 120px;
    height: 60px;
    left: 1200px;
    top: 25px;
    display: flex;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    justify-content: center;
    color: #F7F7F7;
}
.header-sign-in:hover {
    background: #CD6326;
}
.header-sign-in:active {
    background: #8F5613;
}
.header-button {
    background: transparent;
    border: none !important;
    display: inline;
    width: 120px;
    height: 50px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 65px;
    color: #F7F7F7;
}
.header-button:hover {
    transform: scale(1.1);
    background: transparent;
    border: none !important;
}
.header-button:active {
    transform: scale(1.1);
    background: transparent;
    border: none !important;
}
.form-sign-in {
    padding-top: 5px;
}
.language-button {
    position: absolute;
    width: 55px;
    height: 60px;
    left: 92%;
    top: 20%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #F7F7F7;
}
.block1 {
    position: absolute;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 0px;
}
.block1-background {
    position: absolute;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 0px;
    background: #252224;
    border-radius: 0px;
}
.block1-tilte {
    position: absolute;
    width: 350px;
    height: 72px;
    left: 120px;
    top: 70px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
}
.block1-text {
    position: absolute;
    width: 420px;
    height: 178px;
    left: 120px;
    top: 202px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
}
.block1-dutton1 {
    position: absolute;
    width: 350px;
    height: 60px;
    left: 120px;
    top: 455px;
    background: #CD6326;
    border-radius: 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
}
.block2 {
    position: absolute;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 0px;
}
.block2-background {
    position: absolute;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 0px;
    background: #252224;
    border-radius: 0px;
}
.block2-item {
    position: relative;
    width: 720px;
    padding-top: 2%;
    padding-left: 5%;
}
.block2-form {
    position: relative;
    width: 720px;
}
.block2-text {
    position: relative;
    width: 720px;
    height: 30px;
    left: 0%;
    top: 5%;
    padding-bottom: 2%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
}
.block2-input {
    position: relative;
    left: 0%;
    top: 0px;
    border: 1px solid #666666;
    border-radius: 5px 0px 0px 5px;
    background: #CCCCCC;
    outline: none;
    width: 600px;
    height: 55px;
    color: #333333;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    padding-left: 15px;
}
.block2-button1 {
    position: absolute;
    width: 120px;
    height: 55px;
    left: 83.25%;
    top: 44.8%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block2-button2 {
    position: absolute;
    width: 120px;
    height: 110px;
    left: 83.25%;
    top: 28.8%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block2-button-create {
    position: relative;
    width: 720px;
    height: 55px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block2-select {
    width: 600px;
    height: 55px;
    border: solid 1px #517B97;
    outline: 0;
    border: 1px solid #666666;
    border-radius: 5px 0px 0px 5px;
    background: #CCCCCC;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #333333;
    padding-left: 15px;
}
.block2-select2 {
    width: 600px;
    height: 55px;
    border: solid 1px #517B97;
    outline: 0;
    border: 1px solid #666666;
    border-radius: 5px 5px 5px 5px;
    background: #CCCCCC;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #333333;
    padding-left: 15px;
}
.block3 {
    position: absolute;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 0px;
}
.block3-background {
    position: absolute;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 0px;
    background: #252224;
    border-radius: 0px;
}
.block3-item {
    position: relative;
    width: 720px;
    top: 10%;
    padding-top: 5%;
    padding-left: 5%;
}
.block3-text1 {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    top: 5%;
    padding-bottom: 5%;
    text-align: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #F7F7F7;
}
.block3-text2 {
    position: absolute;
    width: 420px;
    height: 50px;
    left: 40%;
    top: 5%;
    padding-bottom: 5%;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #F7F7F7;
}
.block3-button1 {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 75%;
    top: 9%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block3-button2 {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 75%;
    top: 18%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block3-button3 {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 75%;
    top: 27%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block3-button4 {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 75%;
    top: 36%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block3-button5 {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 75%;
    top: 9%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block3-button6 {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 75%;
    top: 20%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block3-button7 {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 75%;
    top: 31%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block3-button8 {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 75%;
    top: 42%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block3-button9 {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 75%;
    top: 53%;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4 {
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0px;
    top: 0px;
}
.block4-background {
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0px;
    top: 0px;
    background: #252224;
    border-radius: 0px;
}
.block4-title-admin {
    position: absolute;
    width: 500px;
    height: 50px;
    left: 33%;
    top: 56%;
    padding-bottom: 5%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #F7F7F7;
}
.block4-container-admin {
    position: absolute;
    width: 1455px;
    height: 230px;
    left: 2%;
    top: 63%;
    display: flex;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: #F7F7F7;
}
.block4-button-admin1 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 0.8%;
    top: 15px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin2 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 0.8%;
    top: 85px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin3 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 0.8%;
    top: 155px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin4 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 20.6%;
    top: 15px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin5 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 20.6%;
    top: 85px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin6 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 20.6%;
    top: 155px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin7 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 40.4%;
    top: 15px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin8 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 40.4%;
    top: 85px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin9 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 40.4%;
    top: 155px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin10 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 60.2%;
    top: 15px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin11 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 60.2%;
    top: 85px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin12 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 60.2%;
    top: 155px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin13 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 80%;
    top: 15px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin14 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 80%;
    top: 85px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.block4-button-admin15 {
    position: absolute;
    width: 275px;
    height: 55px;
    left: 80%;
    top: 155px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.main {
    position: absolute;
    width: 100%;
    height: 2018px;
    left: 0px;
    top: 130px;
}
.main-orders {
    position: absolute;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 130px;
}
.main-catalog {
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0px;
    top: 130px;
}
.catalog-background {
    position: absolute;
    width: 100%;
    height: 1368px;
    left: 0px;
    top: 650px;
    background: #CCCCCC;
    border-radius: 0px;
}
.catalog-background2 {
    position: absolute;
    width: 100%;
    height: 1368px;
    left: 0px;
    top: 800px;
    background: #CCCCCC;
    border-radius: 0px;
}
.main-title1 {
    position: absolute;
    width: 324px;
    height: 72px;
    left: 628px;
    top: 120px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}
.main-title2 {
    position: absolute;
    width: 450px;
    height: 36px;
    left: 554px;
    top: 212px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
}
.main-title3 {
    position: absolute;
    width: 546px;
    height: 41px;
    left: 507px;
    top: 1177px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}
.find-empty-text {
    position: absolute;
    width: 780px;
    height: 50px;
    left: 25%;
    top: 120px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #a32525;
}
.find-empty-text2 {
    position: absolute;
    width: 780px;
    height: 50px;
    left: 25%;
    top: 300px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #a32525;
}
.main-image1 {
    position: absolute;
    width: 300px;
    height: 360px;
    left: 210px;
    top: 368px;
    background: #000000;
    border-radius: 0px;
}
.main-image1:hover {
    transform: scale(1.1);
}
.main-image2 {
    position: absolute;
    width: 300px;
    height: 360px;
    left: 570px;
    top: 368px;
    background: #000000;
    border-radius: 0px;
}
.main-image2:hover {
    transform: scale(1.1);
}
.main-image3 {
    position: absolute;
    width: 300px;
    height: 360px;
    left: 930px;
    top: 368px;
    background: #000000;
    border-radius: 0px;
}
.main-image3:hover {
    transform: scale(1.1);
}
.main-grid-container {
    max-height: 360px;
    max-width: 1380px;
    padding-left: 70px;
    padding-top: 0px;
    display: inline-grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 60px;
    grid-auto-rows: 360px;
    grid-auto-flow: dence;
}
.main-grid-container2 {
    max-height: 360px;
    max-width: 1380px;
    padding-left: 70px;
    padding-top: 368px;
    display: inline-grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 60px;
    grid-auto-rows: 360px;
    grid-auto-flow: dence;
}
.main-grid-item {
    width: 300px;
    height: 360px;
    background-color: #000000;
    background-image: url(../image/tattoo-catalog-background3.jpg);
    background-size: 300px 360px;
    text-align: center;
}
.main-grid-item:hover {
    transform: scale(1.1);
}
.tattoo-item-position {
    padding-left: 17%;
}
.tattoo-item-button {
    position: relative;
    width: 270px;
    height: 55px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #F7F7F7;
}
.main-text-title {
    position: relative;
    width: 52px;
    height: 36px;
    left: 124px;
    top: -117px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7F7F7;
}
.main-text {
    position: relative;
    width: 250px;
    height: 27px;
    left: 5%;
    top: 5%;
    padding-bottom: 4%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 27px;
    text-align: left;
    color: #F7F7F7;
}
.main-button {
    position: absolute;
    width: 150px;
    height: 60px;
    left: 683px;
    top: 1249px;
    background: #CD6326;
    border-radius: 5px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
}
input {
    /*position: absolute;*/
    /*left: 405px;*/
    /*top: 1249px;*/
    border: 1px solid #666666;
    border-radius: 5px 0px 0px 5px;
    background: #CCCCCC;
    outline: none;
    width: 540px;
    height: 55px;
    color: #333333;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    padding-left: 15px;
}
.send {
    position: absolute;
    width: 120px;
    height: 59px;
    left: 930px;
    top: 1249px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    color: #F7F7F7;
}
.send:hover {
    background: #E39128;
}
.send:active {
    background: #8F5613;
}
.footer {
    position: absolute;
    width: 100%;
    height: 359px;
    left: 0px;
    bottom: 0%;
}
.footer-background {
    position: absolute;
    width: 100%;
    height: 360px;
    left: 0px;
    top: 0px;
    background: #181617;
    border-radius: 0px;
}
.footer-logo {
    position: absolute;
    width: 70px;
    height: 60px;
    left: 120px;
    top: 150px;
    border-radius: 0px;
}
.footer-title {
    position: absolute;
    width: 350px;
    height: 60px;
    left: 185px;
    top: 150px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
}
.footer-info1 {
    position: absolute;
    width: 80px;
    height: 60px;
    left: 480px;
    top: 150px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}
.footer-info1:hover {
    transform: scale(1.1);
}
.footer-info2 {
    position: absolute;
    width: 100px;
    height: 60px;
    left: 646px;
    top: 150px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}
.footer-info2:hover {
    transform: scale(1.1);
}
.footer-info3 {
    position: absolute;
    width: 130px;
    height: 60px;
    left: 831px;
    top: 150px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}
.footer-info3:hover {
    transform: scale(1.1);
}
.footer-info {
    position: absolute;
    margin:0px;
    display: flex;
    left: 474px;
    top: 150px;
}
.footer-info-item {
    /*display: inline;*/
    /*width: 155px;*/
    /*height: 60px;*/
    /*padding-left: 16px;*/
    /*padding-right: 27px;*/
    display: inline;
    width: 155px;
    height: 60px;
    text-align: center;
    padding-left: 16px;
    padding-right: 27px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}
.footer-info-refs {
    position: absolute;
    margin:0px;
    display: flex;
    left: 1140px;
    top: 160px;
}
.footer-info-refs-item {
    display: inline;
    width: 40px;
    height: 40px;
    background: #F7F7F7;
    border-radius: 20px;
    margin-right: 27px;
}
.footer-info-refs-item:hover{
    transform: scale(1.1);
}
.footer-item1 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1080px;
    top: 160px;
    background: #666666;
    border-radius: 20px;
}
.footer-item2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1147px;
    top: 160px;
    background: #666666;
    border-radius: 20px;
}
.footer-item3 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1213px;
    top: 160px;
    background: #666666;
    border-radius: 20px;
}
.footer-github-logo {
    position: relative;
    left: 4px;
    top: 4px;
}
.footer-vk-logo {
    position: relative;
    left: 3px;
    top: 4px;
}
.svg-icon5 {
    position: absolute;
    padding-left: 5px;
    padding-top: 8px;
}
.footer-button {
    background: transparent;
    border: none !important;
    display: inline;
    width: 155px;
    height: 60px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}
.footer-button:hover {
    transform: scale(1.1);
    background: transparent;
    border: none !important;
}
.footer-button:active {
    transform: scale(1.1);
    background: transparent;
    border: none !important;
}

